/* This is the styling of the loading gif */
#loader img
{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}


/* This is regarding the position of the music controller */
#musicGroup
{
  float:right;
  position: fixed;
  bottom: 15px;
  right: 0;
}

#musicToggle
{
  float: right;
  position: fixed;
  bottom: 20px;
  right: 0;
}

/* This is the Train Schedule Title Card Jumbotron */
.jumbotron
{
  background-color: #FFA500;
  color: #fff;
  text-shadow: /* This adds an black colored shadow effect to the words on the page to make them better stand out against the background */
    3px 3px 0 #000000,
  -1px -1px 0 #000000,
   1px -1px 0 #000000,
   -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

h3 {
  background-color: #FFA500;
  color: #fff;
  text-shadow: /* This adds an black colored shadow effect to the words on the page to make them better stand out against the background */
    3px 3px 0 #000000,
  -1px -1px 0 #000000,
   1px -1px 0 #000000,
   -1px 1px 0 #000000,
    1px 1px 0 #000000;
}

/* This is the styling for what is essentially the background of the page (which cycyles through several different images) */
/* Since we placed several additional divs within the body, they will function as teh layer on top of the body - making this the background */
body
{
   /* background: url("../images/background1.jpg"); */
   animation: color-me-in 50s; /* time it takes for the complete animation to complete */
   animation-iteration-count: 10; /* will continue quite a bit of time */
}

/* Start background animation section*/
@keyframes color-me-in
{
  /* Starts with base image --- step 1 */
  0%
  {
  background: url("../images/background1.jpg") no-repeat center center fixed;
  background-size:cover;
  /* transform: translateX(0%); */
  }
  /* Begins transition to next image at 25% */
  25%
  {
    background: url("../images/background2.jpg") no-repeat center center fixed;
    background-size:cover;
    /* transform: translateX(25%); */
  }
  /* Begins transition to next image at 50% */
  50%
  {
    background: url("../images/background3.jpg") no-repeat center center fixed;
    background-size:cover;
    /* transform: translateX(50%); */
  }
  /* Begins transition to next image at 75% */
  75%
  {
    background: url("../images/background4.jpg") no-repeat center center fixed;
    background-size:cover;
    /* transform: translateX(75%); */
  }
  /* Begins transition to next image at 100% */
  100%
  {
    background: url("../images/background5.jpg") no-repeat center center fixed;
    background-size:cover;
    /* transform: translateX(100%); */
  }
}
